<div class="homecontainer">

  <!--PRINCIPAL INFO-->
  <div class ="homecontainer__info">
    <div class="homecontainer__info-text">
      <div class="wrapper">
        <h2 class="title">WE ARE</h2>
          <div class="words">
            <h2 class="words__word">
              <span>GAMERS</span>
              <span>WARRIORS</span>
              <span>CREATURES</span>
              <span>HUMANS</span>
              <span>BOARDGAME LOVERS <fa-icon class="icon" [icon]="faheart"></fa-icon></span>
            </h2>
          </div>
      </div>
      <div class="subtitle">
        <h3><a href="http://localhost:4200/about">
            Learn more about us <fa-icon [icon]="faArrow"></fa-icon>
        </a></h3>
      </div>
    </div>


  </div>

  <!--BEST SELLERS-->
  <div class="homecontainer__bestSellers">
    <div class="container">
      <!-- <h1>BEST SELLERS</h1> -->

      <div class="gallery-wrap">
        <div class="item item-1">
          <a href="http://localhost:4200/home/for-two">
            <h2>SPECIALLY FOR TWO</h2>
          </a>
          </div>
        <div class="item item-2">
          <a href="http://localhost:4200/home/investigation-boardgames">
            <h2>FIGHT FOR YOUR LIFE</h2>
          </a>
          </div>
        <div class="item item-3">
          <a href="http://localhost:4200/home/conquest-boardgames">
            <h2>CONQUER ALL!</h2>
          </a>
          </div>
        <div class="item item-4">
          <a href="http://localhost:4200/home/crawler-boardgames">
            <h2>DUNGEON CRAWLERS</h2>
          </a>
        </div>
        <div class="item item-5">
          <a href="http://localhost:4200/home/kids-boardgames">
            <h2>FOR THE TINY ONES</h2>
          </a>
          </div>
      </div>
     </div>
  </div>

</div>
