<body>
  <div class="container">
    <nav class="footer">
        <ul class="footer__anchor-list">
        <li class="footer__anchor-list-item">
          <img src="/assets/icons/footer/instagram.png" alt="instagram">
        </li>
        <li class="footer__anchor-list-item">
          <img src="/assets/icons/footer/facebook.png" alt="facebook">
        </li>
        <li class="footer__anchor-list-item">
          <img src="/assets/icons/footer/gorjeo.png" alt="twitter">
        </li>
        </ul>
    </nav>
  </div>
</body>
